* {
  box-sizing: border-box; }

.header {
  display: flex;
  width: 1140px;
  height: 62px;
  margin: auto;
  align-items: center; }
  @media screen and (max-width: 320px) {
    .header {
      width: 100%;
      height: 64px;
      display: flex;
      background-color: #ffffff; } }
  @media screen and (max-width: 320px) {
    .header__button {
      display: none; } }

.header-menu {
  display: none; }
  @media screen and (max-width: 320px) {
    .header-menu {
      display: block;
      margin-left: auto;
      width: 58px;
      height: 100%;
      padding: 0;
      border: none;
      border-left: 1px solid #00000026;
      background-color: transparent; } }
  @media screen and (max-width: 320px) {
    .header-menu__icon {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
      width: 18px;
      height: 13px;
      display: inline-block;
      align-content: center; } }

.navigation {
  display: flex;
  justify-content: space-between;
  width: 273px;
  margin-left: auto;
  margin-top: 7px; }
  @media screen and (max-width: 320px) {
    .navigation {
      display: none; } }
  .navigation__item {
    color: #2b292d;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none; }
  .navigation__item_selected {
    font-weight: 700; }
  .navigation__arrow {
    display: inline-block;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
    width: 8px;
    height: 5px;
    margin-left: 11px;
    margin-right: 56px;
    margin-top: 19px; }
    @media screen and (max-width: 320px) {
      .navigation__arrow {
        display: none; } }

.logo {
  display: flex; }
  @media screen and (max-width: 320px) {
    .logo {
      align-items: center; } }
  .logo__img {
    width: 60px;
    height: 60px;
    margin-right: 15px; }
    @media screen and (max-width: 320px) {
      .logo__img {
        margin-right: 13px;
        width: 48px;
        height: 48px;
        margin-left: 15px; } }
  .logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .logo__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700; }
  .logo__description {
    font-size: 18;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6; }
    @media screen and (max-width: 320px) {
      .logo__description {
        display: none; } }

.action__button {
  width: 160px;
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  text-align: center;
  background-color: #3040c4;
  color: #ffffff; }

.about {
  display: flex;
  background-color: #f4f5f7;
  justify-content: space-between;
  padding: 77px 131px 76px 130px; }
  @media screen and (max-width: 320px) {
    .about {
      flex-direction: column;
      padding: 46px 15px; } }

.article {
  width: 555px; }
  @media screen and (max-width: 320px) {
    .article {
      width: 100%; } }
  .article__title {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    margin: 0; }
  .article__text {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    margin-top: 6px; }
    @media screen and (max-width: 320px) {
      .article__text {
        margin-top: 6px; } }
  @media screen and (max-width: 320px) {
    .article__title-it-for {
      margin-top: 20px; } }

.headline {
  width: 1140px;
  margin: auto;
  display: flex;
  position: relative;
  margin-top: 84px;
  padding-bottom: 77px; }
  @media screen and (max-width: 320px) {
    .headline {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0 0 36px 0;
      padding: 0; } }
  .headline__content {
    position: absolute;
    z-index: 1;
    top: -8px; }
    @media screen and (max-width: 320px) {
      .headline__content {
        margin: 35px 15px 33px 15px;
        position: static; } }
  .headline__banner {
    position: relative;
    margin-left: auto;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    z-index: 0; }
    @media screen and (max-width: 320px) {
      .headline__banner {
        position: static;
        width: 100%;
        width: 100%;
        height: 100%; } }
  .headline__title {
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin: 0; }
    @media screen and (max-width: 320px) {
      .headline__title {
        width: 100%;
        height: 100%;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px; } }
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1; }
    @media screen and (max-width: 320px) {
      .headline__description {
        width: 100%;
        height: 100%;
        margin-top: 24px;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 34px; } }
  .headline__actions {
    margin-top: 58px;
    display: flex; }
    @media screen and (max-width: 320px) {
      .headline__actions {
        display: flex;
        flex-direction: column;
        margin: 0; } }
    @media screen and (min-width: 320px) {
      .headline__actions {
        margin: 0;
        justify-content: center; } }
  @media screen and (max-width: 320px) {
    .headline__actions-btn {
      margin: 0;
      width: 100%;
      height: 48px; } }
  .headline__learn-more-button {
    margin-left: 10px;
    width: 158px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    background-color: #ffffff;
    color: #3040c4; }
    @media screen and (max-width: 320px) {
      .headline__learn-more-button {
        margin: 0;
        margin-top: 15px;
        width: 100%;
        height: 48px; } }

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #2b292d; }

.page {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 320px) {
    .page {
      width: 100%; } }

.top-section {
  background-color: #f3c6bd;
  padding-top: 39px; }
  @media screen and (max-width: 320px) {
    .top-section {
      padding: 0; } }

.customers {
  width: 1140px;
  margin: auto;
  padding: 30px 0 106px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 320px) {
    .customers {
      width: 100%;
      flex-direction: column;
      padding: 0; } }
  .customers__row {
    display: flex;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (max-width: 320px) {
      .customers__row {
        display: flex;
        width: 100%; } }
  .customers__logo {
    filter: brightness(0); }
    @media screen and (max-width: 320px) {
      .customers__logo {
        max-width: 80%; } }
  @media screen and (max-width: 320px) {
    .customers__item {
      width: 107px;
      height: 94px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3; } }
  @media screen and (max-width: 320px) {
    .customers__item:last-child {
      border-right: none; } }

.features {
  display: flex;
  position: relative; }
  @media screen and (max-width: 320px) {
    .features {
      display: none; } }
  .features__content {
    width: 1140px;
    margin: auto;
    display: flex;
    margin-bottom: 103px; }
  .features__column {
    width: 462px; }
  .features__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #009b4d;
    margin: 0; }
  .features__title {
    width: 462px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin: 0;
    margin-top: 24px; }
  .features__description {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 30px; }
  .features__advantage-header {
    display: flex;
    align-items: center;
    margin-top: 43px; }
  .features__advantage-title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #3142c6;
    margin: 0;
    margin-left: 16px; }
  .features__advantage-text {
    width: 457px;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-top: 8px;
    padding-bottom: 18px;
    border-bottom: 3px solid #3142c6; }
  .features__advantage-item {
    border-bottom: 1px solid #2b2b2b26;
    margin-top: 20px;
    padding-bottom: 24px;
    display: flex; }
  .features__advantage-item-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 15px; }
  .features__left-decoration {
    position: absolute;
    top: 258px; }
  .features__banner {
    position: absolute;
    right: 0;
    top: 5px;
    filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08)); }

@media screen and (min-width: 321px) {
  .tips {
    display: none; } }
.tips {
  margin-top: 8px; }

.tip {
  padding: 40px 15px;
  border-bottom: 1px solid #e3e3e3; }
  .tip__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #009b4d; }
  .tip__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-top: 17px;
    margin-bottom: 0; }
  .tip__description {
    font-size: 24px;
    line-height: 34px;
    margin-top: 15px;
    margin-bottom: 0; }
  .tip .tip__image {
    margin: 0;
    width: 100%;
    margin-top: 30px; }
  .tip__image-caption {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #2b292d;
    opacity: 0.6;
    margin-top: 19px; }

.order {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 50px 15px;
  background-color: #f4f5f7; }
  @media screen and (min-width: 320px) {
    .order {
      max-width: 1400px;
      flex-direction: row;
      padding: 0; } }
  .order__illustration {
    margin: 0 45px;
    max-width: 200px; }
    @media screen and (min-width: 320px) {
      .order__illustration {
        margin: 73px 122px 72px 224px;
        max-width: 270px; } }
  .order__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
    margin: 0;
    margin-top: 40px; }
    @media screen and (min-width: 320px) {
      .order__title {
        text-align: left;
        margin: 0;
        margin-top: 106px; } }
  .order__text {
    height: 167px;
    font-size: 22px;
    line-height: 32px;
    color: #2b292d;
    margin: 0;
    margin-top: 18px; }
    @media screen and (min-width: 320px) {
      .order__text {
        height: 64px;
        margin-top: 12px;
        margin-bottom: 26px; } }
  .order__email {
    height: 48px;
    background: #ffffff;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    border: 1px solid #2b292d33;
    margin: 40px 0 12px 0;
    text-align: center;
    font-size: 18px;
    color: #2b292d; }
    @media screen and (min-width: 320px) {
      .order__email {
        width: 385px;
        margin: 0 10px 0 0; } }
  .order__button {
    height: 48px;
    padding: 0;
    margin-top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1.0e-05) 100%), #3040c4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff; }
    @media screen and (min-width: 320px) {
      .order__button {
        width: 160px; } }
  .order__terms {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin: 10px 0 0 0; }

.order-content {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 320px) {
    .order-content {
      width: 555px;
      margin: 0 228px 105px 0; } }

.order-form {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 320px) {
    .order-form {
      flex-direction: row; } }

.footer {
  margin-top: auto;
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
  flex-direction: column; }

.footer-navigation {
  height: 338px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 320px) {
    .footer-navigation {
      flex-direction: column;
      width: 100%;
      height: 100%; } }

.about-company {
  width: 360px;
  margin-top: 48px;
  margin-bottom: 84px;
  margin-right: 126px; }
  @media screen and (max-width: 320px) {
    .about-company {
      margin: 0;
      padding-bottom: 41px;
      border-bottom: 1px solid #e3e3e3; } }
  .about-company__text {
    height: 85px;
    font-size: 18px;
    color: #2b292d;
    opacity: 0.6;
    line-height: 26px;
    margin: 0;
    margin-bottom: 25px; }
    @media screen and (max-width: 320px) {
      .about-company__text {
        display: none; } }

.download {
  height: 40px; }
  @media screen and (max-width: 320px) {
    .download {
      text-align: center;
      margin-top: 31px; } }
  .download__apple-app {
    width: 135px;
    height: 40px;
    margin-right: 10px; }
  .download__android-app {
    width: 116px;
    height: 40px; }

.additional-navigation {
  width: 559px;
  height: 231;
  margin-top: 60px;
  display: flex; }
  @media screen and (max-width: 320px) {
    .additional-navigation {
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0; } }
  .additional-navigation__subtitle {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700px;
    color: #2b292d;
    margin-bottom: 18px;
    margin-top: 0; }

.additional-navigation-company {
  margin-left: 29px; }

.additional-navigation-product,
.additional-navigation-company {
  width: 265px;
  display: flex;
  flex-direction: column;
  margin-bottom: 47px; }
  @media screen and (max-width: 320px) {
    .additional-navigation-product,
    .additional-navigation-company {
      padding-left: 15px;
      margin: 0;
      margin-top: 30px; } }

.additional-navigation-product__item,
.additional-navigation-company__item {
  font-size: 18px;
  color: #2b292d;
  opacity: 0.6;
  line-height: 30px;
  text-decoration: none; }

.footer-logo {
  display: flex;
  margin-top: 43px;
  margin-bottom: 26px; }
  @media screen and (max-width: 320px) {
    .footer-logo {
      flex-direction: column;
      margin: 0;
      align-items: center;
      margin-top: 40px; } }
  .footer-logo__img {
    width: 60px;
    height: 60px;
    margin-right: 15px; }
    @media screen and (max-width: 320px) {
      .footer-logo__img {
        margin: 0; } }
  .footer-logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 320px) {
      .footer-logo__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 20px; } }
  .footer-logo__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700; }
  .footer-logo__description {
    font-size: 18;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6; }

.footer-links {
  width: 1140px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 320px) {
    .footer-links {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: baseline;
      margin: 30px 125px 22px 15px; } }

.footer__line {
  border-bottom: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0; }
  @media screen and (max-width: 320px) {
    .footer__line {
      display: none; } }

.terms__item {
  line-height: 50px;
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  font-size: 14px;
  margin-right: 20px; }
  @media screen and (max-width: 320px) {
    .terms__item {
      line-height: 22px; } }

.social-links {
  margin-left: auto; }
  @media screen and (max-width: 320px) {
    .social-links {
      margin-left: 0;
      margin-top: 31px; } }
  .social-links__item {
    margin-left: 20px; }
    @media screen and (max-width: 320px) {
      .social-links__item {
        margin: 0;
        margin-right: 20px; } }
  .social-links__item-twitter {
    width: 21px;
    height: 16px; }
  .social-links__item-facebook, .social-links__item-linkedin {
    width: 18;
    height: 17px; }

.audience {
  padding: 50px 15px;
  background-color: #00a1c612; }
  .audience__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center; }
    @media screen and (min-width: 320px) {
      .audience__subtitle {
        margin-top: 58px;
        margin-bottom: 24px; } }
  .audience__title {
    margin-top: 17px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px; }
    @media screen and (min-width: 320px) {
      .audience__title {
        width: 555px;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin: auto; } }
  .audience__text {
    margin-top: 18px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
    text-align: center; }
    @media screen and (min-width: 320px) {
      .audience__text {
        width: 555px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 34px; } }
  .audience__learn-more-btn {
    margin-top: 12px; }
    @media screen and (min-width: 320px) {
      .audience__learn-more-btn {
        margin: 0;
        margin-left: 10px; } }

.action__button {
  height: 48px; }

.audience-img {
  display: flex;
  flex-direction: column;
  margin-top: 40px; }
  @media screen and (min-width: 320px) {
    .audience-img {
      flex-direction: row;
      margin: 111px 131px 110px 130px;
      justify-content: space-between; } }
  .audience-img__item {
    width: 290px;
    height: 300px;
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1.0e-05) 100%), #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px; }
    @media screen and (min-width: 320px) {
      .audience-img__item {
        width: 262px; } }
  .audience-img__item-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center; }
  .audience-img__item-dev {
    padding: 22px 76px; }
  .audience-img__item-entert {
    padding: 22px 74px; }
  .audience-img__item-athl {
    padding: 22px 65px; }
  .audience-img__item-creat {
    padding: 22px 100px 22px 71px; }

/*# sourceMappingURL=styles.css.map */
