.features {
  display: flex;
  position: relative;

  @include for-small-up {
    display: none;
  }
  &__content {
    display: flex;
    margin: auto;
    width: 1140px;
    margin-bottom: 103px;
  }
  &__column {
    width: 462px;
  }
  &__subtitle {
    margin: 0;
    font-size: 22px;
    line-height: 34px;
    color: #009b4d;
    font-weight: 700;
  }
  &__title {
    margin: 0;
    margin-top: 24px;
    width: 462px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  &__description {
    margin: 0;
    margin-top: 30px;
    font-size: 24px;
    line-height: 34px;
  }
  &__advantage-header {
    display: flex;
    align-items: center;
    margin-top: 43px;
  }

  &__advantage-title {
    margin: 0;
    margin-left: 16px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #3142c6;
  }
  &__advantage-text {
    margin: 0;
    margin-top: 8px;
    padding-bottom: 18px;
    width: 457px;
    font-size: 18px;
    line-height: 26px;
    border-bottom: 3px solid #3142c6;
  }
  &__advantage-item {
    display: flex;
    margin-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #2b2b2b26;
  }
  &__advantage-item-text {
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  &__left-decoration {
    position: absolute;
    top: 258px;
  }
  &__banner {
    position: absolute;
    right: 0;
    top: 5px;
    filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
  }
}
